/ {
    combos {
        compatible = "zmk,combos";
        // combo_rgui {
        //     timeout-ms = <50>;
        //     key-positions = <55 56>;
        //     bindings = <&kp RGUI>;
        // };

        // combo_lgui {
        //     timeout-ms = <50>;
        //     key-positions = <53 54>;
        //     bindings = <&kp LGUI>;
        // };
    };
};
